@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


/* WEBSITE STRUCTURE */

body {
    font-family: "EB Garamond", serif;
    color: #4D4D4D;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 90px auto 0;
    width: calc(100% - 120px);
    max-width: 1300px;
    height: calc(100vh - 80px);
    }
    
    .logo { 
        grid-area: 1 / 1 / 2 / 2;
        
    }

    .settings { 
        grid-area: 1 / 2 / 2 / 3;
        
    }

    .bookshelf { 
        grid-area: 1 / 3 / 6 / 7;
        
    }

    .calendar { 
        grid-area: 2 / 1 / 4 / 3;
        
    }

    .button {
        grid-area: 4 / 1 / 6 / 3;

        display: flex;
        justify-content: center;
        align-items: center;
    }

/* BOOKSHELF STRUCTURE */

.structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    }

    .structure div.plank:nth-child(1) {
        height: 20px;
        width: 100%;
        border: 3px solid #6D6D6D;
    }
    
    .structure div.plank:nth-child(2) {
        height: 8px;
        width: 97%;
        margin-top: -3px;
        border: 3px solid #6D6D6D;
    }
    
    .structure div.plank:nth-child(3) {
        height: 20px;
        width: 95%;
        margin-top: -3px;
        border: 3px solid #6D6D6D;
    }

    .structure div.plank:nth-child(4) {
        height: 8px;
        width: 95%;
        margin-top: -3px;
        border: 3px solid #6D6D6D;
    }

    .shelf-center {
        height: 100%;
        width: 90%;
        margin-top: -3px;
        border: 3px  solid #6D6D6D;
        border-bottom: none;
        display: flex;
    }

    .shelf-center div.plank:nth-child(1){
        height: calc(100% + 3px);
        width: 30px;
        border: 3px solid #6D6D6D;
        margin-top: -3px;
        margin-left: -3px;
        margin-bottom: none;
    }

    .shelf-center div.plank:nth-child(3){
        height: calc(100% + 3px);
        width: 30px;
        border: 3px solid #6D6D6D;
        margin-top: -3px;
        margin-right: -3px;
        margin-bottom: 0;
    }

    .books-container {
        position: relative;
        overflow: scroll;
    }

    .shelf {
        width: 100%;
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
        row-gap: 20px;
        position: relative;
    } 

    .shelf-gap {
        width: 100%;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-rows: 240px;
        grid-row-gap: 50px;
    } 

    .book-gap {
        border-bottom: 15px double #6D6D6D;
        /* margin-top: 50px; */
        height: 200px;
    }
    
    .book-gap:first-child {
        margin-top: 40px; 
      }

/* BOOK STYLING */

    .book {
        border: 3px solid #6D6D6D;
        width: 65px;
        margin-top: 30px;
        height: 200px;
        position: relative;
    }
    
    .book-inner {
        overflow: hidden;
        height: 100%;
        position: relative;
    }

    .book p {
        bottom: 0;
        transform: rotate(270deg);
        transform-origin: left;
        position: absolute;
        padding: 3px;
        margin-left: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 170px; /* <-- remember this is what is holding the amount of words and creating the ellipsis!!! */
    }

/* PAGE STRUCTURE */

.settings {
    text-align: right;
    padding: 0px 20px;
}

.calendar {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.calendar img {
    width: 169px;
    margin: 50px auto;
}

.add-button {
    padding: 20px 40px;
    border: 3px solid #6D6D6D;
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
    z-index: 3;
}

/* DECORATION */
 .clouds-front {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 30vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
 }

/* BREAKPOINTS */

@media (max-width: 730px) {
    body {
        color: rgb(63, 63, 106);
    }

    .main {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 0.4fr 0.4fr 1.8fr 1fr;
        margin: 45px 20px 0;
        width: calc(100% - 40px);
        height: calc(100vh - 40px);
    }

    .logo { 
        grid-area: 1 / 1 / 2 / 3;
    }

    .settings { 
        grid-area: 1 / 6 / 2 / 7;
    }

    .bookshelf { 
        grid-area: 3 / 1 / 5 / 7;
    }

    .calendar {
        grid-area: 1 / 5 / 2 / 6;
        
    }

    .button {
        grid-area: 2 / 1 / 3 / 7;
    }

    .calendar img {
        width: 96px;
        margin: 0px;
    }
}